body{
    background-color: rgb(221, 221, 203); 
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* main  */
.main{
    display: grid;
    margin: auto;
    padding: 40px;     
    grid-template-columns: auto repeat(7 1fr);
    grid-template-rows: auto repeat(3 1fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat"
    "ft ft ft ft ft ft ft ";
    /* grid-gap:10px; */
    /* border: 2px solid black; */
}

/* header */
header{
    grid-area: hd;  
    /* border: 1px dotted blue; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}
p{
    margin: 0;
    font-size: 20px;

}
h1{
    margin: 5px;
}
.head-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.head-inner li{
    margin: 0 90px;
    align-items: center;
    display: block;
}
.head-inner a{
    text-decoration: none;          
    display: block;
    transition: all 0.3s ease-out;
} 
.head-inner a:link{
    color: black
}                                                                     
.head-inner a:visited{
    color: black
}                                                                     
.head-inner a:hover{
    color: #b51af1;
    transform: rotate(6deg);
}   
.head-inner a:active{
    color: black
}     

/* Feature */
.feat{
    grid-area: feat;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid black;
}
.feature{
    width: 750px; 
    border: 1px solid black;
}
.feature img{
    width: 750px;
    height: 500px;
}
h2{
    font-size: 40px;
    font-family: cursive;
    text-align: start;
    font-weight: bolder;
    padding: 10px;
}
p{
    font-size: 20px;
    line-height: 0.8cm;
    padding: 10px;
}
/* footer */
/* footer */
.foot{
    grid-area: ft;
    /* border: 1px dotted blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 40px;
}

/* responsive */
@media screen and (min-width:1020px){
    /*CSS for PC desktop (bigger than 1020px)*/
    body{
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1020px){
    /*CSS for tablet (bigger than 768px and smaller than 1020px)*/
    header{
        width: 100%;
        text-align: center;
        align-items: center;   
        justify-content: space-evenly;
        margin: auto;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 18px;
        line-height: 1.2;
    }
    h4{
        font-size: 25px;
        margin-bottom: 0;
        }
    .head-inner li{
        margin: 0 60px;
        font-size: 17px;
        align-items: center;
    }
    .feature img{
        width: 600px;
        height: 600px;
    }
    .feature{
        width: 600px;
        align-items: center;
        margin: auto;
    }
}

@media screen and (min-width:481px) and (max-width:767px){
    /*CSS for mobile phone (bigger than 481px and smaller than 767px)*/
    .main{
        display: flex;
        padding: 10px;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-evenly;
        margin: auto;
        align-items: center;
    }
    .feature img{
        width: 350px;
        height: 350px;
    }
        .feature{
        width: 350px;
        }
    h1{
        font-size: 25px;
    }
    p{
        font-size: 15px;
        line-height: 1.2;
    }
    .head-inner li{
        margin: 0 40px;
        font-size: 12px;
        display: block;
    }
    h2{
        font-size:25px
    }
}

@media screen and (max-width:480px){
    /*CSS for mobile phone(smaller than 480px)*/
    .main{
        display: flex;
        padding: 10px;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-evenly;
        margin: 0;
        align-items: center;
    }
    .feature img{
    width: 250px;
        height: 250px;
    }
    .feature{
        width: 250px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px;
        line-height: 1.2;
    }
    .head-inner li{
        margin: 0 20px;
        font-size: 12px;
        display: block;
    }
    h2{
    font-size:20px
    }
}