@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap');
@import "./header.css";
@import "./footer.css";
body{
    background-color: rgb(221, 221, 203); 
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}
/* main container */
.main{
    display: grid;
    margin: auto;
    grid-template-columns: auto repeat(7 1fr);
    grid-template-rows: auto repeat(5 1fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat"
    "ms ms ms ms ms ms ms"
    "bp bp bp bp bp bp bp"
    "ft ft ft ft ft ft ft";
    /* grid-gap:10px; */
}

/* feature box */
.feature{
    grid-area: feat;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.feat-cont{
    width: 700px;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.feat-cont img{
    width: 700px;
    height: 600px;
}
.feat-cont h2, 
p,
h3 { 
    padding: 10px;
}

.feat-cont a:link{
    color: black;
}
.feat-cont a:visited{
    color: black;
}
.feat-cont a:hover{
    color: rgb(161, 68, 248);
}
.feat-cont a:active{
    color: black;
}

.feat-cont a {
    text-decoration: none;
}
/* miss post box */
.miss{
    grid-area: ms;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 60px;
}

.button{
    background-color: rgb(66, 65, 68);
    color: white;
    border-radius: 3px;
    font-size: 20px;
}

/* blogpost */
.blogpost{
    grid-area: bp;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "lt rt";
    grid-gap: 10px;
    margin: auto;
}
.left{
    grid-area: lt;
}
.left h3{
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    margin: 5px;
}

.post img{
    width: 350px;
    height: 350px;
    margin: 10px;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 750px;
}
.post1,
.post2,
.post3,
.post4,
.post5,
.post6 {
    display: flex;
    flex-direction: row;
    margin: 5px;
    border: 1px solid black;
    justify-content: flex-start;
}
h4 {
    text-align: start;
    margin: 5px;
    font-size: 20px;
}
.time {
    font-size: 12px;
    text-align: start;
}

#one a{
    text-decoration: none;
}
.button {
    background-color: rgb(74, 72, 78);
    color: white;
    border-radius: 3px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
.right{
    grid-area: rt;
}
.right img{
    width: 300px;
    height: 250px;
}
.about{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    width: 400px;
}
.about img{
    width: 400px;
    height: 250px;
}
.h4 {
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: normal;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
    text-align: center;

}
.grid{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 10px;
    margin: 10px;
}
figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}
.fav {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding: 10px;
}
.fav img{
    width: 400px;
    height: 250px;
}



/* responsive */
@media screen and (min-width:1020px){
    /*CSS for PC desktop (bigger than 1020px)*/
    body{
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1020px){
    /*CSS for tablet (bigger than 768px and smaller than 1020px)*/
    h1{
        font-size: 40px;
    }
    p{
        font-size: 18px;
        line-height: 1.2;
    }
    .head-inner li{
        margin: 0 70px;
        font-size: 16px;
        display: block;
    }
    .feature img{
        width: 650px;
        height: 450px;
    }
    .feature{
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .feat-cont{
        width: 650px;
    }
    h2,
    h3{
        font-size: 25px;
        letter-spacing: normal;
    }
    .miss{
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 40px;
        padding: 20px;
    }
    .button{
    font-size: 15px;
    }
    .post img{
        width: 450px;
        height: 300px;
    }
    .post{
        width: 500px;
    }
    .post1,
    .post2,
    .post3,
    .post4,
    .post5,
    .post6 {
        display: flex;
        flex-direction: column;
        /* margin: auto; */
        border: 1px solid black;
        justify-content: space-evenly;
        align-items: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .about , .fav {
        width: 350px;
    }
    .about , .fav img{
        width: 350px;
    }
    .h4 {
        font-size: 40px;
    }   
    .grid{
        display:flex;
        flex-direction: column;
        margin: auto;
    }
    .right img{
        width: 350px;
        height: 350px;
    }

}

@media screen and (min-width:481px) and (max-width:767px){
    /*CSS for mobile phone (bigger than 481px and smaller than 767px)*/
    .main{
        display: flex;
        padding: 0;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-evenly;
        margin: auto;
        align-items: center;
    }
    h1{
        font-size: 35px;
    }
    p{
        font-size: 15px;
        line-height: 1.2;
    }
    .head-inner li{
        margin: 0 40px;
        font-size: 12px;
        display: block;
    }
    .feature img{
        width: 450px;
        height: 450px;
    }
    .feature{
        width: 450px;
    }
    h2,
    h3{
        font-size: 25px;
        letter-spacing: normal;
    }      
    .miss{
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 40px;
        padding: 20px;
    }
    .button{
    font-size: 20px;
    }
    .blogpost{
        display:flex;
        flex-direction: column;
        margin: auto;
        grid-gap: 5px;
        padding: 10px;
    }
    .left{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .post img{
        width: 450px;
        height: 300px;
    }
    .post{
        width: 500px;
    }
    .post1,
    .post2,
    .post3,
    .post4,
    .post5,
    .post6 {
        display: flex;
        flex-direction: column;
        /* margin: auto; */
        border: 1px solid black;
        justify-content: space-evenly;
        align-items: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .about , .fav {
        width: 500px;
        /* margin: auto; */
        padding: 10px;
    }
    .about , .fav img{
        width: 450px;
    }
    .h4 {
        font-size: 20px;
    }
}

@media screen and (max-width:480px){
/*CSS for mobile phone(smaller than 480px)*/
    .main{
        display: flex;
        padding: 0;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-evenly;
        margin: 0;
        align-items: center;
    }
    .feature img{
        width: 250px;
        height: 250px;
    }
    .feature{
        width: 250px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px;
        line-height: 1.2;
    }
    .head-inner li{
        margin: 0 20px;
        font-size: 12px;
        display: block;
    }
    h2,
    h3{
        font-size:15px;
        letter-spacing: normal;
    }
    .miss{
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
        padding: 20px;
    }
    .button{
    font-size: 10px;
    }
    .blogpost{
        display:flex;
        flex-direction: column;
        margin: auto;
        grid-gap: 5px;
        padding: 10px;
    }
    .post img{
        width: 250px;
        height: 200px;
    }
    .post{
        width: 300px;
    }
    .post1,
    .post2,
    .post3,
    .post4,
    .post5,
    .post6 {
        display: flex;
        flex-direction: column;
        margin: auto;
        border: 1px solid black;
    }
    .left h4 {
        font-size:15px;
    }
    .left h3{
        text-align: center;
        font-size: 20px;
        margin: 5px;
    }
    .time {
        font-size: 8px;
    }
    .about{
        width: 300px;
        margin: auto;
        padding: 10px;
    }
    .about img{
        width: 300px;
        height: 250px;
    }
    .h4 {
        font-size: 20px;
    }
    .grid{
        display:flex;
        flex-direction: column;
        margin: auto;
    }
    .right img{
        width: 300px;
        height: 250px;
    }
    .fav {
        width: 300px;
        margin: auto;
    }
    .fav img{
        width: 300px;
        height: 250px;
    }
}