body{
    background-color: rgb(221, 221, 203); 
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* main  */
.main{
    display: grid;
    margin: auto;
    padding: 40px;     
    grid-template-columns: auto repeat(7 1fr);
    grid-template-rows: auto repeat(3 1fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat"
    "ft ft ft ft ft ft ft ";
    /* grid-gap:10px; */
    /* border: 2px solid black; */
}

/* header */
.head{
    grid-area: hd;  
    /* border: 1px dotted blue; */
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}
.head p{
    margin: 0;
    font-weight: lighter;
    letter-spacing: 10px;
}
.head h1{
    margin: 0;
}
.head-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.head-inner li{
    margin: 0 90px;
    align-items: center;
}
.head-inner a{
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}                                                                   
.head-inner a:link{
    color: black
}                                                                     
.head-inner a:visited{
    color: black
}                                                                     
.head-inner a:hover{
    color: #b51af1;
    transform: rotate(6deg);
}   
.head-inner a:active{
    color: black
}        

/* Feature */
.feat{
    grid-area: feat;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid black;
}
.feature{
    width: 750px;
    border: 1px solid black;
}
.feature h2{
    font-size: 40px;
    text-align: start;
    font-weight: bolder;
    padding: 10px;
}
.feature p{
    font-size: 20px;
    line-height: 0.8cm;
    padding: 10px;
}
/* footer */
/* footer */
.foot{
    grid-area: ft;
    /* border: 1px dotted blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}
