@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap');
@import "header.css";
@import "footer.css";
body{
    background-color: rgb(221, 221, 203); 
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}
/* main container */
.main{
    display: grid;
    margin: auto;
    padding: 40px;
    grid-template-columns: auto repeat(7 1fr);
    grid-template-rows: auto repeat(4 1fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat"
    "ft ft ft ft ft ft ft"
    "at at at at at at at";
    /* grid-gap:10px; */
    /* border: 2px solid black; */
}
/* feature */
.feat{
    grid-area: feat;
    margin-top: 10px;
    
}
.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.list li{
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.list a{
    text-decoration: none;
    /* align-items: flex-start; */
}
.list a:link{
    color: black;
}
.list a:active{
    color: black;
}
.list a:visited{
    color: black;
}

#nestedgrid{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-gap: 10px;
}
.time{
    font-size: 12px;
}
.post1 {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 5px;
    border: 1px solid black;
    grid-row: 1/2;
    grid-column: 1/2;
}

.post2{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 5px;
    border: 1px solid black;
    grid-row: 1/2;
    grid-column: 2/3;
}

.post3,
.post4,
.post5,
.post6,
.post7,
.post8,
.post9,
.post10 {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 5px;
    border: 1px solid black;
}

.img{
    width: 450px;
    height: 400px;
}
#nestedgrid a{
    text-decoration: none;
}
#nestedgrid a:link{
    color: black;
}
#nestedgrid a:visited{
    color: black;
}
#nestedgrid a:hover{
    color: rgb(134, 109, 247);
}
#nestedgrid a:active{
    color: black;
}
.input{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.button3{
    background-color: rgb(55, 57, 59);
    color: linen;
    padding: 10px;
    border-radius: 5px; 
}
.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.author{
    grid-area: at;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 650px;
    margin: auto;
    padding: 10px;
}
.author p{
    font-size: 16px;
}

/* Responsive */
@media screen and (min-width:1020px){
    /*CSS for PC desktop (bigger than 1020px)*/
    body{
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1020px){
    /*CSS for tablet (bigger than 768px and smaller than 1020px)*/
    .img{
        width: 350px;
        height: 300px;
    }
    .post1,
    .post2,
    .post3,
    .post4,
    .post5,
    .post6,
    .post7,
    .post8,
    .post9,
    .post10 {
        width: 350px;
    }
    .head-inner li{
        margin: 0 50px;
        font-size: 15px;
        display: block;
    }
    p{
        font-size: 18px;
    }
    .list li{
        margin: 0 20px;
        font-size: 15px;
    }
}

@media screen and (min-width:481px) and (max-width:767px){
    /*CSS for mobile phone (bigger than 481px and smaller than 767px)*/
    .main{
        display: flex;
        padding: 10px;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-evenly;
        margin: auto 0;
        align-items: center;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 15px;
        line-height: 1.2;
    }
    .head-inner li{
        margin: 0 20px;
        font-size: 15px;
        display: block;
    }
    .lists{
        flex-direction: column;
        display: flex;
        margin: auto 0;
        font-size: 15px;
    }
    .list li{
        margin: 0 20px;
        font-size: 10px;
    }
    .search{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        margin: auto;
    }
    #nestedgrid{
        display: flex;
        flex-direction: column;
    }
    .img{
        width: 400px;
        height: 300px;
    }
    .post1,
    .post2,
    .post3,
    .post4,
    .post5,
    .post6,
    .post7,
    .post8,
    .post9,
    .post10 {
        width:400px;
    }
    .author{
        width: 550px;
        margin: auto;
    }
}

@media screen and (max-width:480px){
    /*CSS for mobile phone(smaller than 480px)*/
    .main{
        display: flex;
        padding: 10px;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-evenly;
        margin: auto 0;
        align-items: center;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px;
        line-height: 1.2;
    }
    .head-inner li{
        margin: 0 20px;
        font-size: 12px;
        display: block;
    }
    .lists{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        margin: auto 0;
    }
    .list li{
        margin: 0 10px;
    }
    .search{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
        margin: auto;
    }
    #nestedgrid{
        display: flex;
        flex-direction: column;
    }
        .img{
        width: 300px;
        height: 200px;
    }
    .post1,
    .post2,
    .post3, 
    .post4,
    .post5,
    .post6,
    .post7,
    .post8,
    .post9,
    .post10 {
        width: 300px;
    }
    .author{
        width: 80px;
        margin: auto;
    }
}